{if isset($error)}
    {if $wa->getEnv() == 'backend'}
        <span class="hidden logs-item-view-error-message">{$error|escape}</span>

        <script type="text/javascript">
            $.waDialog({
                html: $('.dialog-template-error').clone().html(),
                esc: false,
                onOpen: function ($dialog, dialog) {
                    $dialog.find('.state-error').html($('.logs-item-view-error-message').html());
                    dialog.resize();

                    $dialog.on('click', '.js-submit', function () {
                        var $dialog_footer = $dialog.find('.dialog-footer');
                        var $spinner = $('<i class="fas fa-spinner fa-spin"></i>')

                        $spinner.appendTo($dialog_footer);
                        location.href = '?action=files&mode=updatetime';
                    });
                }
            });
        </script>
    {/if}
{else}
    <div class="item-data" data-item-lines-empty-message="[`no new records`]" data-item-lines-dialog-ok="[`OK`]">
        {capture name="pagination"}
            {wa_pagination page=$wa->get('page', $item.page_count) total=$item.page_count attrs=['class' => "paging",  title => "[`Choose a page`]"]}
        {/capture}

        {$pagination = $smarty.capture.pagination|trim}

        {if strlen($pagination)}
            <div class="pagination">{$pagination}</div>
        {/if}

        <div class="item-lines previous {if $wa->get('page', $item.page_count) == 1}disabled{/if}" {if $wa->get('page', $item.page_count) > 1}title="[`View previous lines`]"{/if}><span class="arrow"><i class="fas fa-caret-up"></i></span></div>
        <pre class="prettyprint item-contents small">{$item.contents|escape:'hexentity'}</pre>
        <div class="item-lines next" title="[`View next lines`]"><span class="arrow"><i class="fas fa-caret-down"></i></span></div>
    </div>

    <form class="item-lines-form" data-item-lines-url="{$item_lines_url|default:''}" class="hidden">
        <input type="hidden" name="first_line" value="{$item.first_line}">
        <input type="hidden" name="last_line" value="{$item.last_line}">
        <input type="hidden" name="direction" value="">
        <input type="hidden" name="last_eol" value="{$item.last_eol|default:''}">
        <input type="hidden" name="file_end_eol" value="{$item.file_end_eol|default:''}">
    </form>
{/if}
